src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="BanqueServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8088/?xsd=1"/>
</xsd:schema>
</types>
<message name="conversion">
<part name="parameters" element="tns:conversion"/>
</message>
<message name="conversionResponse">
<part name="parameters" element="tns:conversionResponse"/>
</message>
<message name="GetCompte">
<part name="parameters" element="tns:GetCompte"/>
</message>
<message name="GetCompteResponse">
<part name="parameters" element="tns:GetCompteResponse"/>
</message>
<message name="GetComptes">
<part name="parameters" element="tns:GetComptes"/>
</message>
<message name="GetComptesResponse">
<part name="parameters" element="tns:GetComptesResponse"/>
</message>
<portType name="BS">
<operation name="conversion">
<input wsam:Action="http://service/BS/conversionRequest" message="tns:conversion"/>
<output wsam:Action="http://service/BS/conversionResponse" message="tns:conversionResponse"/>
</operation>
<operation name="GetCompte">
<input wsam:Action="http://service/BS/GetCompteRequest" message="tns:GetCompte"/>
<output wsam:Action="http://service/BS/GetCompteResponse" message="tns:GetCompteResponse"/>
</operation>
<operation name="GetComptes">
<input wsam:Action="http://service/BS/GetComptesRequest" message="tns:GetComptes"/>
<output wsam:Action="http://service/BS/GetComptesResponse" message="tns:GetComptesResponse"/>
</operation>
</portType>
<binding name="BSPortBinding" type="tns:BS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="conversion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="GetComptes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueServiceService">
<port name="BSPort" binding="tns:BSPortBinding">
<soap:address location="http://localhost:8088/"/>
</port>
</service>
</definitions>